In [9]:
from pandas import DataFrame, read_csv
import pandas as pd
import matplotlib.pyplot as plt
import sys
import matplotlib
import seaborn as sns
sns.set()

In [15]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
Pandas version 1.4.2
Matplotlib version 3.5.1

In [42]:
data1 = pd.DataFrame({'Name':['Bob','Jessica','Mary','John','Mel'],
                    'Births':[968, 155, 77, 578, 973]})

In [43]:
data1

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [44]:
# or
Name = ['Bob','Jessica','Mary','John','Mel']
Births = [968, 155, 77, 578, 973]

In [45]:
babysetting = list(zip(Name,Births))

In [46]:
babysetting

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [ ]:
df = pd.DataFrame({data = babysetting, columns =['NAME', 'BIRTHS']})